




/*basic styles*/

body{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  background-color: #edede9;
  color: #2b2d42;
  margin: 10px 0;
}

/*header*/

header{
  text-align: center;
  padding: 15px;
}
.nav{
  display: block;
  font-weight: bold;
  list-style-type: none;
  padding: 24px 0;
}
.nav a, .nav_2 a, .nav_3 a {
  text-decoration: none;
  transition: .1s;
  color: #2b2d42;
}
.nav a:hover{
  color: #edede9
}
.nav li {
  margin: 5px 0px 5px;
  padding: 10px 15px 10px;
  background-color: #ffffff;
}
.profile_p, footer p{
	font-family: 'Kdam Thmor Pro', sans-serif;
}
/*main*/
main{
  text-align: center;
  background: #ffffff;
  padding: 10px;
}
.skills_container{
  font-weight: bold;
  list-style-type: none;
  background-color: #edede9;
  border-bottom: 4px solid #d5bdaf;
  border-radius: 6px;
  margin: 30px;
  padding: 0px;
}
.skills_container li{
  display: inline;
  font-size: .73em;
  padding: 5px;
}
.img_pic{
    max-width: 90%;
	padding: 20px;
}
/*footer*/
footer{
  text-align: center;
  padding: 15px;
}
.footer_nav_large{
  display: none;
}
.footer_nav_small{
  display: flex;
  justify-content: space-between;
}
.nav_2{
  display: flex;
  font-weight: bold;
  list-style-type: none;
  padding: 8px;
}
.nav_2 a:hover, .nav_3 a:hover, hr {
  color: #d5bdaf
}
.flex_baby{
  margin:0px 15px;
}

@media screen and (min-width: 768px) {

/*header*/
.nav{
  display: flex;
  justify-content: center;
}	
.nav li {
  background-color: transparent;
}
.nav a:hover {
  color: #d5bdaf
}
.nav_3{
  display: flex;
  font-weight: bold;
  list-style-type: none;
  padding: 8px;
}
.banner{
	display: flex;
	flex-direction: row-reverse;
	padding: 25px;
}
.profile_pic{
	height: 250px;
}
/*main*/
.skills_container{
  background-color: transparent;
  border-bottom: 0;
  margin: 50px;
}
.skills_container li{
  background-color: #edede9;
  font-size: .9em;
  padding: 5px 30px 10px;
  border-bottom: 4px solid #d5bdaf;
  border-radius: 6px;
}
.flex_container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.con_1{
  width: 50%;
}
/*footer*/
.contact_info{
	padding: 0 50px;
}
.footer_nav_small{
  display: none;
}
.footer_nav_large{
  display: contents;
}
.footer_nav_flex{
  display: flex;
  justify-content: space-between;
}
}

@media screen and (min-width: 1024px) {

body{
  margin: 10px 30px 5px;
}
/*header*/
.top_nav_flex{
  display: flex;
  justify-content: space-between;
}
.nav{
  padding: 0;
}
.banner{
	padding: 75px;
}
.profile_pic{
	height: 350px;
}
.profile_p, footer p{
	font-size: 1.75em;
}
/*main*/
.con_1{
	  width: 33%;
	}
/*footer*/
footer {
	padding: 30px;
}
.contact_info{
	padding: 0 200px;
}
}